html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Plus Jakarta Sans', sans-serif;
}

h1{
  font-weight:200;
  font-size:128px;
  color:brown;
}

h2{
  font-weight:500;
  font-size:64px;
  color:burlywood;
}

h3{
  font-weight:800;
  font-size:32px;
  color:crimson;
}

h4{
  font-weight:500;
  font-size:16px;
  color: darkgoldenrod;
}

h5{
  font-weight:600;
  font-size:8px;
  color:darkolivegreen;
}

h6{
  font-weight:800;
  color:darkslategrey;
}

.person-1{
  font-size:7rem;
  font-weight:800;
  color:forestgreen;

}

.person-2{
  font-size:3rem;
  font-weight:800;
  color:indianred;
}